p {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;

    color: #000000;

    padding-bottom: 20px;

    transition: margin-top .3s ease;
    will-change: margin-top;
}

.pText {
    padding-bottom: 10px;
    padding-top: 10px;
}

h1 {

    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;

    color: #000000;
}

.contents {
    padding-top: 3.5em;
    padding-left: 2.73%;
    padding-right: 4.5%;
    padding-bottom: 4.5%;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    position: relative;
    flex: 1;
    padding-bottom: 82px;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}

.contents {
    font-size: 1.5rem;
    padding-left: 2.73%;
    padding-top: calc(var(--content-padding) * 0.85 * 1vw);
    transition: padding .3s ease, font-size .3s ease;
    will-change: padding, font-size;
}

@media screen and (max-width: 980px) {
    .contents {
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 1280px) {
    #page-container {
        background-image: url("../src/assets/bg/default/bg-tablet.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.contents h1,
.contents h3,
.contents h4,
.contents h5,
.contents h6,
.contents h2 {
    font-size: 1.5em;
}

.contents section {
    color: var(--bruc-black);
}

.contents section+section {
    margin-top: 6rem;
    transition: margin-top .3s ease;
    will-change: margin-top;
}

.image-container .image-sizer {
    padding-bottom: calc(var(--background-image-aspect-ratio) * 100%);
    transition: padding-bottom .3s ease;
    will-change: padding-bottom;
}

@media screen and (max-width: 980px) {
    .contents section+section {
        margin-top: 4rem;
    }

    .image-container .image-sizer {
        padding-bottom: calc(var(--background-image-aspect-ratio) * 100%);

    }
}

.contents section>* {
    margin-bottom: 1em;
}




@media screen and (max-width: 980px) {
    .contents p+h1 {
        margin-top: 4rem;
    }
}

.contents section strong {
    font-weight: bold;
}

.contents section em {
    font-style: italic;
}

.contents section del {
    text-decoration: line-through;
}

.contents section blockquote {
    padding-left: .5em;
    border-left: 4px solid rgba(0, 0, 0, .69);
}


.contents section hr {
    width: 5rem;
    margin: 1.5rem 0;
}

/*------------------ FOOTER ------------------*/


main {
    padding-bottom: 0;
    background-image: none;
}

main::before {
    display: none;
}

main::after {
    display: none;
}

.contents {
    padding: 0;
}

.image-container {
    position: relative;
}



.image-container .image-frame,
.image-container .image-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.image-container .image-frame {
    z-index: -1;
}

.image-container .image-content {
    z-index: 9;
    max-width: calc(100vw - var(--content-padding) * 2vw - 20px);
    padding: 0 calc(var(--content-padding) * 1vw);
    padding-top: calc(var(--content-padding) * 0.85 * 1vw);
}

.image-container .image-frame {
    background-image: var(--background-image);
}