#textfield7 {
    position: absolute;
    width: 86px;
    height: 36px;
    left: 62px;
    top: 188px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height, or 225% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
}

#textfield8 {
    position: absolute;
    width: 86px;
    height: 36px;
    left: 62px;
    top: 275px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height, or 225% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

}

#textfield9 {
    position: absolute;
    width: 86px;
    height: 36px;
    left: 62px;
    top: 371px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height, or 225% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

}

#textfield10{
    position: absolute;
    width: 86px;
    height: 36px;
    left: 62px;
    top: 471px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height, or 225% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

}

#textfield11 {
    position: absolute;
    width: 86px;
    height: 36px;
    left: 62px;
    top: 573px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height, or 225% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

}

#textfield12 {
    position: absolute;
    width: 86px;
    height: 36px;
    left: 643px;
    top: 573px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height, or 225% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #000000;
}


#page-title {
    position: absolute;
    width: 642px;
    height: 36px;
    left: calc(50% - 642px/2 - 136px);
    top: calc(50% - 36px/2 - 263px);

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    /* identical to box height, or 112% */

    letter-spacing: -0.015em;

    color: #000000;
}

#inputfield7 {
    box-sizing: border-box;

    position: absolute;
    width: 332px;
    height: 45px;
    left: 290px;
    top: 182px;

    border: 1px solid #000000;
}

#inputfield8 {
    box-sizing: border-box;

    position: absolute;
    width: 332px;
    height: 45px;
    left: 290px;
    top: 270px;

    border: 1px solid #000000;
}

#inputfield9 {
    box-sizing: border-box;

    position: absolute;
    width: 332px;
    height: 45px;
    left: 290px;
    top: 366px;

    border: 1px solid #000000;
}

#inputfield10 {
    box-sizing: border-box;

    position: absolute;
    width: 332px;
    height: 45px;
    left: 290px;
    top: 466px;

    border: 1px solid #000000;
}

#btn4 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 285px;
    top: 569px;

    border: 0px;
    background-color: #ffffffff;
}

#button5 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 866px;
    top: 569px;

    border: 0px;
    background-color: #ffffffff;
}

#submit-button2 {
    position: absolute;
    left: 6.05%;
    right: 81.25%;
    top: 85.03%;
    bottom: 9.77%;

    color: white;

    background: #a67b7b;
    border-radius: 6px;
}