@font-face {
    font-family: 'GC Epic Pro Cro';
    src: url('./GCEpicProCro-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GC Epic Pro Cro';
    src: url('./GCEpicProCro-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GC Epic Pro Cro';
    src: url('./GCEpicProCro-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GC Epic Pro Cro';
    src: url('./GCEpicProCro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GC Epic Pro Cro';
    src: url('./GCEpicProCro-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GC Epic Pro Cro';
    src: url('./GCEpicProCro-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'GC Epic Pro Cro';
    src: url('./GCEpicProCro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GC Epic Pro Cro';
    src: url('./GCEpicProCro-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
