<!DOCTYPE html>
<html lang="en">

<body>
    <p>Bok <strong>{{name}}!</strong></p>

    <p>Potvrđujemo tvoju kupnju brucoške karte za <strong>40. Brucošijadu FER-a</strong>. </p>
    
    <p>Tvoj jedinstveni kod potvrde je <strong>{{confCode}}</strong> </p>
    
    <p>Ovaj kod služi kao potvrda za kupljenu kartu od <strong>50 kuna.</strong> </p>

    <p>Prati obavijesti na našoj web stranici i društvenim mrežama jer će postojati poseban ulaz za brucoše FER-a na
        brucošijadu gdje će se pregledavati <strong>studentske iskaznice</strong> koje služe kao ulaznice na događaj. Za
        svaki slučaj,
        preporučujemo ti da imaš i<strong> osobnu iskaznicu </strong>ili vozačku radi verifikacije svojeg identiteta. U
        slučaju da ne
        budeš na popisu osoba koje su kupile kartu, pokaži ovaj jedinstveni kod kao dokaz. </p>

    <p>Vidimo se!</p>

    <p>Lijep pozdrav,</p>

    <p>Organizacijski tim Brucošijade FER-a</p>
</body>

</html>