<!DOCTYPE html>
<html lang="en">

<body>
    <p>Bok <strong>{{name}}!</strong></p>

    <p>Potvrđujemo tvoju kupnju brucoške karte u vrijednosti 10€ za <strong>41. Brucošijadu FER-a</strong>. </p>

    <p>U nastavku maila se nalazi <strong>QR kod</strong> koji služi kao tvoja ulaznica za Brucošijadu.
        Ovaj QR kod vezan je isključivo za tvoju studentsku iskaznicu, tako da ga jedino ti možeš iskoristiti.
        Za ulazak na Brucošijadu, uz QR kod trebat će ti i <strong>studentska iskaznica</strong> radi verifikacije identiteta.
        Za svaki slučaj,
        preporučujemo ti da imaš i<strong> osobnu iskaznicu </strong>ili vozačku..
    </p>

    <p>Prati obavijesti na našoj web stranici i društvenim mrežama jer će postojati poseban ulaz za brucoše FER-a.
        U slučaju da ne
        budeš na popisu osoba koje su kupile kartu ili QR kod ne bude ispravan, 
        
        pokaži ovaj jedinstveni kod kao dokaz: <strong>{{confCode}}</strong> </p>

    <p>Vidimo se!</p>

    <p>Lijep pozdrav,</p>

    <p>Organizacijski tim Brucošijade FER-a</p>

</body>

</html>