<!DOCTYPE html>
<html lang="en">

<body>
    <p>Poštovani,</p>

    <p>Vaša firma je sponzor ovogodišnje Brucošijade FER-a čime dobiva pravo sastavljanja popisa zaposlenika koji imaju
        pravo ulaska na brucošijadu.</p>

    <p>Popis osoba (imena i prezime) možete unijeti na ovoj poveznici: <strong>{{link}}</strong></p>

    <p>Unos je omogućen bez stavranja računa te je krajnji <strong> za unos 12.11.2022. 19 sati</strong> nakon čega se stranica
        zaključava i neće se više moći mijenjati popis.</p>

    <p>U vezi svih dodatnih pitanja i poteškoća, slobodno se obratite na tajnik@kset.org.</p>

    <p>Srdačan pozdrav,</p>

    <p>Organizacijski tim Brucošijade FER-a</p>

</body>

</html>