<!DOCTYPE html>
<html lang="en">

<body>
    <p>Bok <strong>{{name}}!</strong></p>

    <p>Jedan od administratora aplikacije ti je promijenio privilegiju na razinu <strong>{{privilege_name}}.</strong></p>

    <p>Aplikaciji možeš pristupiti na brucosijada.kset.org/admin</p>

    <p>Ovo je automatizirana poruka i molimo te da ne odgovaraš na nju nego se javiš na comp.support@kset.org za
        promjenu privilegija.</p>

    <p>Srdačan pozdrav,</p>

    <p>Administratori #BRUCIFER aplikacije</p>
</body>

</html>