.button.submit {
    margin-top: 30px;
    background: #000000;
    border-radius: 6px;
    color: white;
    border: 1px solid #000000;

}

.button.change {
    border: 1px solid #000000;
    background: #000000;
    border-radius: 6px;
    color: white;
}

.button.white {
    margin-top: 50px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 6px;
}

.button {
    width: 130px;

}

.page-title.lineup-title {
    padding-bottom: 10%;
}

.inputfield {
    height: 39px;
    width: 50%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

@media screen and (max-width: 550px) {
    .lineup-form {
        width: 100%;
    }
    .button.submit {
        font-size: 15px;
    }
    
    .button.change {
        font-size: 15px;
    }
    
    .button.white {
       font-size: 15px;
    }
    .inputfield{
        font-size: 12px;

    }
}

.grid-container {
    left: 6%;
    display: grid;
    grid-template-columns: 15% auto;
    padding: 10px;
    grid-gap: 15%;
    row-gap: 15%;
    align-items: center;
}

.image-preview {

    width: 200px;
    height: 200px;


    border: 1px solid #000000;
}