.button.submit {
    width: 130px;
    background: #000000;
    border-radius: 6px;
    color: white;
}

.button.change {
    border: 1px solid #000000;
    width: 130px;
    background: #000000;
    border-radius: 6px;
    color: white;
}

.button.white {
    width: 130px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 6px;
}

.page-title.lineup-title {
    padding-bottom: 10%;
}



.inputfield {
    height: 40px;
    width: 50%;
}

.grid-container {
    left: 6%;
    display: grid;
    grid-template-columns: 10% auto;
    padding: 10px;
    grid-gap: 6%;
    row-gap: 30px;
}

.image-preview {

    width: 200px;
    height: 200px;
  

    border: 1px solid #000000;
}