.page-title1 {
    position: absolute;
    width: 642px;
    height: 36px;
    left: calc(50% - 642px / 2 - 136px);
    top: calc(50% - 36px / 2 - 263px);

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    /* identical to box height, or 112% */

    letter-spacing: -0.015em;

    color: #000000;
}

.textfield1 {
    position: absolute;
    width: 86px;
    height: 36px;
    left: 62px;
    top: 234px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height, or 225% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
}

.textfield2 {
    position: absolute;
    width: 86px;
    height: 36px;
    left: 62px;
    top: 322px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height, or 225% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
}

.textfield3 {
    position: absolute;
    width: 86px;
    height: 36px;
    left: 62px;
    top: 410px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height, or 225% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
}

.inputfield1 {
    box-sizing: border-box;

    position: absolute;
    width: 332px;
    height: 45px;
    left: 290px;
    top: 229px;

    border: 1px solid #000000;
}

.inputfield2 {
    box-sizing: border-box;

    position: absolute;
    width: 332px;
    height: 45px;
    left: 290px;
    top: 317px;

    border: 1px solid #000000;
}

.inputfield3 {
    box-sizing: border-box;

    position: absolute;
    width: 130px;
    height: 40px;
    left: 290px;
    top: 410px;

    border: 1px solid #000000;
    border-radius: 6px;
}

.image-preview {
    box-sizing: border-box;

    position: absolute;
    width: 200px;
    height: 200px;
    left: 776px;
    top: 229px;

    border: 1px solid #000000;
}

.submit-button {
    position: absolute;
    left: 6.05%;
    top: 85.03%;

    color: white;

    background: #000000;
    border-radius: 6px;
}

@media screen and (max-width: 900px) {

    .textfield1 {
        left: 38px;
        top: 482px;
    }

    .textfield2 {
        left: 38px;
        top: 574px;
    }

    .textfield3 {
        left: 6.66%;
right: 79.03%;
top: 68.61%;
bottom: 27.65%;
    }

    .inputfield1 {
        left: 169px;
        top: 481px;
        width: 191px;
        height: 45px;
    }

    .inputfield2 {
        left: 169px;
        top: 568px;
        width: 191px;
        height: 45px;
    }

    .inputfield3 {
        left: 169px;
        top: 660px;
        width: 130px;
        height: 40px;
    }

    .image-preview {
        left: 4.33%;
right: 62.4%;
top: 21.93%;
bottom: 57.28%;
    }

    .submit-button {
        left: 6.66%;
right: 71.71%;
top: 82.22%;
bottom: 13.62%;
    }
}